<div class="boxA">
<div class="box1">
<div class="site">
<h1><a href="#">Dive into Code</a></h1>
</div>
</div>
<div class="box2">
<nav class="menu">
<ul>
<li><%= link_to "Top", root_path %></li>
  <li><%= link_to "お問い合わせ", inquiries_path %></li>
</ul>
</nav>
</div>
</div>
<div class="box3">
<%= image_tag("header.png", class: "topimg") %>
</div>
<div class="box4">
<div class="box4-1">
<div class="merit">
<a href="#">
  <i class="fa fa-heart"></i>
  <h1>経験ゼロの初心者向け</h1>
<p>全10回講座の課題解決型プログラム。経験ゼロからWebエンジニアになっていただきます。</p>
  </a>
  </div>
</div>
<div class="box4-2">
<div class="merit">
<a href="#">
  <i class="fa fa-television"></i>
  <h1>オンラインサポート付き</h1>
<p>専用のfacebookグループ内やNitrousのコラボレーション機能を経由して随時オンラインサポート</p>
  </a>
  </div>
</div>
<div class="box4-3">
<div class="merit">
<a href="#">
 <i class="fa fa-connectdevelop"></i>
  <h1>チームで実践「受託開発」</h1>
<p>ひとりではなく開発チームを結成し、実ビジネスの受託開発を経験して卒業していただきます。</p>
  </a>
  </div>
</div>
</div>
<div class="box5">
<div class="copyright">
<p>Copyright &copy; 2016 Dive into Code All Rights Reserved.</p>
</div>
</div>
